{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles/auth_form_style.css' %}">
    <title>Change password</title>
</head>
<body>

<!-- change password form -->
<form method ="post">
    {% csrf_token %}

    <div class="container">
        <div class="input_section">
            <div class="form_box">
                <h2>Change password</h2>

                <div class="input_box">
                    <label for="id_old_password">Old password:</label>
                    <input type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
                </div>

                <div class="input_box">
                    <label for="id_new_password1">New password:</label>
                    <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                </div>

                 <div class="input_box">
                    <label for="id_new_password2">New password confirmation:</label>
                    <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                </div>

                <input type="submit" class="btn" value="❯❯❯">

                <div class="group_selection">
                    <a href="{% url 'index' %}">Back to room choice</a>
                </div>

            </div>
        </div>
    </div>
</form>

    <!-- change password form -->
<!--    <form method="post">-->
<!--        {% csrf_token %}-->
<!--        {{ form.as_p }}-->
<!--        <a href="{% url 'index' %}">Back</a>-->
<!--        <button type="submit">Submit</button>-->
<!--    </form>-->

</body>
</html>
