{% load static %}
<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="{% static 'styles/chat_page_style.css' %}">
</head>

  <body>

    <div class="login_href">
      {% if request.user.is_authenticated %}
      <a href = "{% url 'logout-user' %}">Logout</a>
      {% endif %}
    </div>

    <div class="user_name_text">
      <h2>The chat has started.</h2>
      <h2>{{request.user}}</h2>
    </div>
    <br>

    <div class="chat__item__container" id="id_chat_item_container">
      <br />
      <input type="text" id="id_message_send_input" />
      <button type="submit" id="id_message_send_button"> Send </button>
      <br />
      <br />
    </div>

    <script>
      // create WebSocket object
      const chatSocket = new WebSocket("ws://" + window.location.host + "/");
      chatSocket.onopen = function (e) {
        console.log("The connection was setup successfully !");
      };

      // if the socket will close
      chatSocket.onclose = function (e) {
        console.log("Chat socket closed unexpectedly!");
      };

      // focus on the id_message_send_input
      document.querySelector("#id_message_send_input").focus();

      // sent a message from id_message_send_input when the Enter was clicked
      document.querySelector("#id_message_send_input").onkeyup = function (e) {
        if (e.keyCode == 13) {
          document.querySelector("#id_message_send_button").click();
        }
      };

      // sent a message from id_message_send_input when the id_message_send_button was clicked
      document.querySelector("#id_message_send_button").onclick = function (e) {
        var messageInput = document.querySelector("#id_message_send_input").value;
        chatSocket.send(JSON.stringify({ message: messageInput, username: "{{request.user.username}}"}));
        document.querySelector("#id_message_send_input").value = "";
      };

      // If a message arrives
      chatSocket.onmessage = function (e) {
        // Parse data
        const data = JSON.parse(e.data);

        // Add new div in id_chat_item_container with the message for the message history
        var messages_div = document.createElement("div");
        messages_div.innerHTML = data.username + ": " + data.message;
        document.querySelector("#id_chat_item_container").appendChild(messages_div);

        // Add new div id_chat_item_container with the message getting date for the message history
        var date_div = document.createElement("div");
        date_div.style.fontSize = "small";
        date_div.style.color = "#ABB2B9";
        date_div.style.textAlign = "left";
        date_div.innerHTML = data.date;
        document.querySelector("#id_chat_item_container").appendChild(date_div);
      };

    </script>
  </body>
</html>