{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'styles/auth_form_style.css' %}">
    <title>Chat Rooms</title>
</head>
<body>

<form method ="post">
    {% csrf_token %}

    <div class="container">
        <div class="input_section">
            <div class="form_box">
                <h2>Room</h2>

                <div class="links_container">
                    {% for room in rooms %}
                        <div class="input_box">
                            <a href = "{{ room.get_absolute_url }}"> {{ room.name }} </a>
                        </div>
                    {% endfor %}
                </div>

                <div class="input_box">
                    <label for="">Room name</label>
                    <input type="text" name="room_name" autofocus="" autocapitalize="none" autocomplete="room_name" maxlength="150" id="id_room_name_input">
                </div>


                <input type="submit" class="btn" id="id_room_name_submit" value="❯❯❯">

                <div class="group_selection">
                    {% if request.user.is_authenticated %}
                        <a href = "{% url 'logout_user' %}">Logout</a>
                    {% else %}
                        <a href = "{% url 'login_user' %}">Login</a>
                    {% endif %}
                </div>
          </div>
        </div>
    </div>

</form>

<script>

    document.querySelector('#id_room_name_input').focus();

    // if enter was clicked than click on room_name_submit button!
    document.querySelector('#id_room_name_input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#id_room_name_submit').click();
        }
    };

    // if room_name_submit button was clicked than
    // get room name and go to the room page
    document.querySelector('#id_room_name_submit').onclick = function (e) {
        // get roomName from room_name_input
        var roomName = document.querySelector('#id_room_name_input').value;
        //change the path of the current page
        window.location.pathname = '/chat/' + roomName + '/';
    };
</script>

</body>
</html>