{% load static %}
<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="{% static 'styles/auth_form_style.css' %}">
</head>

<body>

<!-- User login form -->
<form method ="post">
    {% csrf_token %}

    <div class="container">
        <div class="input_section">
            <div class="form_box">
                <h2>Login</h2>

                <div class="input_box">
                    <label for="">Username</label>
                    <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
                </div>

                <div class="input_box">
                    <label for="">Password</label>
                    <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
                </div>

                <input type="submit" class="btn" value="Login">

                <div class="group_selection">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                    <a href="{% url 'register' %}">Create account</a>
                </div>

                <div> <br/>
                {% if form.errors %}
                    Your username or/and password didn't match.
                {% endif %}
                </div>

            </div>
        </div>
    </div>
</form>

    <!-- A simple User login form creation option -->
    <!--
    <form method ="post">
    {% csrf_token %}
    {{form.as_p}}
    <br>
    <button type = "submit">Login</button>
    </form>
    -->

</body>
</html>