{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles/auth_form_style.css' %}">
    <title>Password reset done</title>
</head>
<body>

    <div class="container">
        <div class="input_section">
            <div class="form_box">
                <h2>Email Sent</h2>

                <div class="input_box">
                    <h1>Check your inbox</h1>
                    <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
                </div>

            </div>
        </div>
    </div>

</body>
</html>