{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles/auth_form_style.css' %}">
    <title>Password reset confirm </title>
</head>
<body>

{% if validlink %}
    <!-- Reset Password Confirm form -->
    <form method ="post">
    {% csrf_token %}

    <div class="container">
        <div class="input_section">
            <div class="form_box">
                <h2>Set a new password</h2>

                <div class="input_box">
                    <label for="id_new_password1">New password:</label>
                    <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                </div>

                <div class="input_box">
                        <label for="id_new_password2">New password confirmation:</label>
                        <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                </div>

                <input type="submit" class="btn" value="❯❯❯">

                <div> <br/>
                {% if form.errors%}
                    <ul>
                        <li>Please, enter a more difficult password (at least 8 characters)</li>
                        <li>Passwords should be the same in both fields</li>
                    </ul>
                {% endif %}
                </div>

            </div>
        </div>
    </div>

</form>

{% else %}
    <div class="container">
        <div class="input_section">
            <div class="form_box">

                <h2>Set a new password</h2>
                <div class="input_box">
                    <p>The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.</p>
                </div>

            </div>
        </div>
    </div>
{% endif %}

</body>
</html>