<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password reset confirm </title>
</head>
<body>

    {% if validlink %}
        <h1>Set a new password.</h1>

        <!-- Reset Password Confirm form -->
        <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Change password">
        </form>

    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.</p>
    {% endif %}

</body>
</html>