{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles/auth_form_style.css' %}">
    <title>Password reset</title>
</head>
<body>

<!-- Reset Password form -->
<form method ="post">
    {% csrf_token %}

    <div class="container">
        <div class="input_section">
            <div class="form_box">
                <h2>Forgot your password?</h2>

                <div class="input_box">
                    <label for="id_email">Email:</label>
                    <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
                </div>

                <input type="submit" class="btn" value="❯❯❯">

            </div>
        </div>
    </div>
</form>

</body>
</html>