<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles/auth_form_style.css' %}">
    <title>Password reset complete</title>
</head>
<body>
    <div class="container">
        <div class="input_section">
            <div class="form_box">
                <h2>Reset Password</h2>

                <div class="input_box">
                    <h3>Hurray! Your password has been changed.</h3>
                </div>

                <input type="button" class="btn" value="Login" onclick="window.location.href='http://127.0.0.1:8000/auth/login/';">

            </div>
        </div>
    </div>

</body>
</html>